/* one, two, three, four, five, six */
/* #x99 {
  opacity: 1;
} */

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.square {
 width: 50px;
 height: 50px;
 float: left;
 cursor: pointer;
 /* font-family: 'Baloo Chettan', cursive;
 font-size: 35px; */
 /* opacity:0; */
}
.squareNoHover {
  width: 50px;
  height: 50px;
  float: left;
  /* cursor: pointer; */
  font-family: 'Baloo Chettan', cursive;
  font-size: 35px;
  /* opacity:0; */
 }
.innersquare {
  font-family: 'Baloo Chettan', cursive;
  font-size: 35px;
  padding-top:0;
  width: 50px;
  height: 50px;
  user-select: none;
}
.square:hover {
  background-color: #fff;
  opacity: 0.16;
 }
 .board {
  width: 500px;
  height: 500px;
  background-image: url("i/bg.png");
  background-repeat: no-repeat;
  /* cursor: pointer; */
 }

 .show {
   opacity: 1;
 }
 .hide {
  opacity: 0;
 }
 .bomb {
  /* background-image: url("i/mine.png"); */
    background-image: url("i/bomb.png") !important;
 }
 .red {
   color: #c10a0a;
 }
 .green {
   color: #097945;
 }
 .blue {
  color: #3948ed;
}
.backgroundTweak {
  background-color: transparent !important;
}

  /* .squareNoHover:nth-child(8) .innersquare {
  background-color: #f0f;
} */

 /* set up checkerboard */
 .squareNoHover:nth-child(n):nth-child(odd):nth-child(-n+10) .innersquare {
  background-color: #e8c6a4;
}
.squareNoHover:nth-child(n):nth-child(even):nth-child(-n+10) .innersquare {
  background-color: #ccae90;
}

.squareNoHover:nth-child(n+11):nth-child(even):nth-child(-n+20) .innersquare {
  background-color: #e8c6a4;
}
.squareNoHover:nth-child(n+11):nth-child(odd):nth-child(-n+20) .innersquare {
  background-color: #ccae90;
}

.squareNoHover:nth-child(n+21):nth-child(odd):nth-child(-n+30) .innersquare {
  background-color: #e8c6a4;
}
.squareNoHover:nth-child(n+21):nth-child(even):nth-child(-n+30) .innersquare {
  background-color: #ccae90;
}

.squareNoHover:nth-child(n+31):nth-child(even):nth-child(-n+40) .innersquare {
  background-color: #e8c6a4;
}
.squareNoHover:nth-child(n+31):nth-child(odd):nth-child(-n+40) .innersquare {
  background-color: #ccae90;
}

.squareNoHover:nth-child(n+41):nth-child(odd):nth-child(-n+50) .innersquare {
  background-color: #e8c6a4;
}
.squareNoHover:nth-child(n+41):nth-child(even):nth-child(-n+50) .innersquare {
  background-color: #ccae90;
}

.squareNoHover:nth-child(n+51):nth-child(even):nth-child(-n+60) .innersquare {
  background-color: #e8c6a4;
}
.squareNoHover:nth-child(n+51):nth-child(odd):nth-child(-n+60) .innersquare {
  background-color: #ccae90;
}

.squareNoHover:nth-child(n+61):nth-child(odd):nth-child(-n+70) .innersquare {
  background-color: #e8c6a4;
}
.squareNoHover:nth-child(n+61):nth-child(even):nth-child(-n+70) .innersquare {
  background-color: #ccae90;
}

.squareNoHover:nth-child(n+71):nth-child(even):nth-child(-n+80) .innersquare {
  background-color: #e8c6a4;
}
.squareNoHover:nth-child(n+71):nth-child(odd):nth-child(-n+80) .innersquare {
  background-color: #ccae90;
}

.squareNoHover:nth-child(n+81):nth-child(odd):nth-child(-n+90) .innersquare {
  background-color: #e8c6a4;
}
.squareNoHover:nth-child(n+81):nth-child(even):nth-child(-n+90) .innersquare {
  background-color: #ccae90;
}

.squareNoHover:nth-child(n+91):nth-child(even):nth-child(-n+100) .innersquare {
  background-color: #e8c6a4;
}
.squareNoHover:nth-child(n+91):nth-child(odd):nth-child(-n+100) .innersquare {
  background-color: #ccae90;
}
